* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
p,
span {
    margin-top: 0;
}

img {
    display: block;
    width: 100%;
}

.Home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../public/img/banner.jpg') no-repeat center / cover;
    height: calc(100vh - 61.5px);
}

.Home .overall-cont-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.Home .cont-box {
    flex: 0 1 50%;
    animation: slideIn 1s ease-in;
    animation-fill-mode: forwards;
    color: #ffffff;
    padding-left: 80px;
    margin-top: -70px;
}

.Home .cont-box h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

@keyframes slideIn {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.6;
    }
    100% {
        transform: translateX(-20%);
        opacity: 1;
    }
}

.Home .img-box {
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    flex: 0 1 50%;
}

.Home .img-box img {
    width: 50%;
    border-radius: 37%;
    margin: 0 auto;
}

.Home .img-box p:first-of-type {
    font-size: 30px;
    margin-bottom: 10px;
}

.Home .img-box p:last-of-type {
    font-size: 25px;
    margin-bottom: 0;
}

.Home .resume {
    position: absolute;
    bottom: 70px;
    right: 50px;
    color: #ffffff;
}

.Home .resume button {
    border: 2px solid #b409b4;
    background-color: transparent;
    border-radius: 4px;
    color: #b409b4;
    padding: 8px 20px;
    margin-left: 5px;
    font-weight: bold;
    transition: all 0.3s ease-in;
}

.Home .resume button:hover {
    background-color: #b409b4;
    color: #ffffff;
}

.Header,
.Footer {
    background-color: #000000;
    padding: 20px 50px;
    color: #ffffff;
}

.Header p {
    text-align: center;
    margin-bottom: 0;
}

.Header span,
.Header p.right {
    cursor: pointer;
}

.Header p.right {
    text-align: right;
}

.Header p span:hover,
.Header p.right:hover {
    text-decoration: underline;
}

.Footer {
    bottom: 0;
    text-align: center;
}

.Footer a {
    display: inline-block;
    padding: 0 10px;
    color: #ffffff;
    transition: 0.3s ease-in;
}

.Footer a i {
    font-size: 20px;
}

.Footer a:hover {
    transform: scale(1.3);
}

.ProjectList {
    background: linear-gradient(to top left, rgb(20, 16, 16), rgb(37, 34, 34));
    min-height: 100vh;
    color: #ffffff;
    padding-bottom: 20px;
}

.ProjectList .ProjectList-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.ProjectCard {
    position: relative;
    min-height: 450px;
    text-align: right;
    margin-bottom: 90px;
    background-color: #131212;
}

.ProjectCard * {
    transition: all 0.3s ease-in;
}

.ProjectCard img {
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 1;
    width: 100%;
    transform: translateY(-50%);
}

.ProjectCard figcaption {
    width: 50%;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.ProjectCard h2 {
    margin-bottom: 5px;
}

.ProjectCard h2,
.ProjectCard small {
    opacity: 0;
}

.ProjectCard small:last-child {
    display: block;
}

.ProjectCard a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.ProjectCard:hover img {
    width: 55%;
    right: -8%;
}

.ProjectCard:hover figcaption h2,
.ProjectCard:hover figcaption small {
    opacity: 1;
}

.text-purple {
    color: #b409b4;
}

@media (max-width: 1440px) {
    .ProjectCard {
        min-height: 300px;
    }
}

@media (max-width: 1024px) {
    .Home .overall-cont-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .Home .img-box {
        padding-top: 140px;
        width: 80%;
    }

    .Home .cont-box {
        padding-left: 0;
        padding-top: 140px;
    }

    @keyframes slideIn {
        0% {
            transform: translateY(-30px);
        }
        100% {
            transform: translateY(-20%);
        }
    }

    .ProjectCard {
        margin-bottom: 50px;
        min-height: 250px;
    }

    .ProjectCard figcaption small {
        display: none;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    .Home .img-box {
        padding-top: 50px;
        width: 60%;
    }

    .Home .cont-box {
        padding-top: 130px;
    }

    .Home .resume {
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .ProjectList .ProjectList-wrapper {
        margin-top: 60px;
    }
}

@media (max-width: 900px) and (orientation: landscape) {
    .Home {
        height: fit-content;
    }

    .Home .img-box {
        padding-top: 110px;
    }

    .Home .cont-box {
        padding-top: 210px;
    }

    .Home .resume,
    .Footer {
        bottom: auto;
    }

    .Home .resume {
        width: 100%;
        margin-top: -45px;
    }
}

@media (max-width: 768px) {
    .Home .img-box {
        padding-top: 80px;
    }

    .Home .cont-box {
        padding-top: 150px;
    }

    .ProjectList .ProjectList-wrapper {
        width: 85%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .Home .img-box {
        padding-top: 130px;
    }

    .Home .cont-box {
        padding-top: 120px;
    }

    .Home .cont-box h2 {
        font-size: 35px;
    }

    .Home .img-box p:first-of-type {
        font-size: 25px;
        margin-bottom: 7px;
    }

    .Home .img-box p:last-of-type {
        font-size: 20px;
    }

    .Home .resume button {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .ProjectList .ProjectList-wrapper {
        width: 95%;
    }

    .ProjectCard {
        margin-bottom: 30px;
        min-height: 130px;
    }
}

@media (max-width: 425px) {
    .Home .img-box {
        padding-top: 40px;
    }

    .Home .cont-box {
        padding-top: 20px;
    }

    .Home .resume {
        bottom: 50px;
    }

    .ProjectList .ProjectList-wrapper {
        margin-top: 40px;
    }
}
